<div class="col-xs-8 col-xs-offset-2">
  <form>
    <table border="0" cellpadding="10">
        <tr>
          <td rowspan="3">
            <img src="../../../assets/icons/face.svg">
          </td>
          <td>
            <div class="form-row">
              <div class="col">
                <label>{{ candidate.candidateName }}</label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-row">
              <div class="col">
                <label>{{ candidate.phone }}</label>
              </div>
            </div>
          </td>
        </tr>
    </table>
  </form>
</div>
