form {
  display: block;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
}

.candidates-table {
  display: inline-block;
  width: 100%;
  margin-right: 5%;
}

.card {
  display: inline-block;
  box-shadow: none;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 3%;
  width: 42%;
}

.small-cell,
.img-cell {
  padding: 0;
  line-height: 1em;
}

td .img-cell {
  height: 120px;
}

td .small-cell {
  height: 40px;
}

img {
  width: 120px;
  height: 120px;
  margin-left: -10px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

  background-color:transparent;
  background-position:center;
  border:none;
  background-size:100%;

  box-shadow: none;
}

.input-group-text {
  text-align: left;
  word-wrap: break-word;
}

#vacancy-name {
  width: 90%;
}

#vacancy-status {
  width: 50%;
}

textarea {
  width: 90%;
}

td {
  text-align: center;
  padding: 5px 20px 5px 0;
}

tr {
  border-bottom: none;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.qwe {
  transform:scale(1.5);
  opacity:1;
  cursor:pointer;
  pointer-events: auto;
  position: relative;
}


.reqButton {
  text-indent: unset;
}
