.main {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.holder {
  padding-left: 5em;
}

.candidate-info {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 2em;

  min-width: 30%;
  margin-left: 10%;
}

app-vacancies-list {
  margin-top: 30px;
  padding: auto;
}

.timeline {
  width: 95%;
  margin-right: 7%;
  margin-left: 15%;
  border: 1px solid darkgray;
  border-radius: 15px;
}

.notes {
  margin: 10px;
  height: 2em;
}
