.filter {
  display: inline-block;
  position: absolute;
  width: 20%;
  left: 3%;
  top: 17%;
  padding-left: 1em;
}

label {
  display: block;
}

.mrg {
  margin-left: 5px;
  color: white;
}

.mrg-1 {
  color: white;
}
