<h1 mat-dialog-title>View interview</h1>
<mat-card class="candidate-card">
  <mat-card-header>
  <img mat-card-md-image mat-card-avatar class="candidate-header-image" src="{{photo}}" />
    <mat-card-title ngDefaultControl > {{name}} {{surname}} </mat-card-title>
    <mat-card-subtitle>{{position}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="interview-items"><span class="interview-items-title">phone: </span>{{phone}} </div>
    <div class="interview-items"><span class="interview-items-title">other contacts:</span> {{other}}</div>
    <div class="interview-items"><span class="interview-items-title">mail: </span>{{mail}}</div>
    <div class="interview-items"><span class="interview-items-title">notes: </span>  {{notes}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button class="close-btn" mat-button (click)="onNoClick()">Close</button>
    <button mat-button (click)="goToCandidateInfo(candidate)">Show more</button>
  </mat-card-actions>
</mat-card>














