.edit {
  background: url('../../assets/icons/edit-info.svg');
  width: 25px;
  height: 25px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

button {
  border: none;
  box-shadow: none;
}
